@page "/"

<PageTitle>Bibliothek</PageTitle>

<div class="container mt-5">

    <div class="text-center">
        <h1 class="display-3 fw-bold mb-4">Willkommen in unserer Bibliothek!</h1>
        <p class="lead fs-4 text-secondary mb-5">
            Hier können Sie die Welt der Bücher erkunden, neue Werke entdecken und das Lesen genießen.
        </p>
        <p class="fs-5">
            Unsere Bibliothek wurde für alle Literaturfreunde geschaffen. Tauchen Sie ein in faszinierende Geschichten, finden Sie Inspiration und erweitern Sie Ihren Horizont.
        </p>
    </div>

</div>
